* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
body {
  font-size: 20px;
  color: #444;
  line-height: 1.5;
}
/* NAVIGATION */
.navigation_content {
  display: flex;
  align-items: center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.navigation_content_logo {
  flex-grow: 1;
}
a.js_menu{
  display: flex;
}
a.js_main_menu {
  display: none;   
}
.logo {
  color: white;
  text-decoration: none;
}
/* END NAVIGATION */

/* MAIN SECTION */
header {
  display: flex;
}
.intro {
  font-size: 1.5em;
}
.myname {
  font-size: 4em;
}
.role-title {
  font-size: 1.5em;
}
.banner_img {
  height: 60vh;
  background-size: cover; 
  background-color: rgb(0, 0, 0);
  
}
.banner_title {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  justify-content: center;
  padding-left: 30px;
  height: 100%;
}
.banner_title h1, .banner_title h2 {
  color: white;
  text-shadow: 1px .5px rgba(187, 90, 90, 0.925);
}
header h1 {
  margin: 0;
}
header h2 {
  font-size: 1.6em;
  padding-bottom: 15px;
}
.content_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}
.content_container.about_me {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Raleway', sans-serif;
}
.content_container.tech-stack {
  display: flex;
  justify-content: center;
}
.content_container.tech-stack > h2 {
  text-align: center;
}
.content_container p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  line-height: 200%;
  flex-direction: column;
}
.content_container h2 {
  font-size: 1.5em;
  font-weight: 600;
}
.content_container.projects-section {
  margin-right: auto;
  margin-left: auto;
}
.about_me_header {
  padding-bottom: 20px;
} 
.content_container > h2 {
  font-size: 3em;
}
.section_container {
  width: 100%;
  margin-bottom: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.section_container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.418);
}
.section_container img {
  width: 100%;
}
.icon_section_container {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.icon_container {
  padding: 20px;
}
.icon_container a span {
  display: none;
}
.fa-code {
  color: rgb(110, 107, 107);
  font-size: 1.2em;
}
.fa-code:hover {
  color: rgb(0, 140, 255);  
}
.fa-html5,
.fa-css3-alt,
.fa-js,
.fa-react {
  margin-bottom: 20px;
  text-shadow: .5px 1px #333238d0;
  padding: 10px;
}
.fa-2x {
  font-size: 1.3em;
}
.fa-html5 {
  color: red;
  font-size: 3em;
}
.fa-css3-alt {
  color: rgb(54, 113, 224);
  font-size: 3em;
}
.fa-js {
  color: yellow;
  font-size: 3em;
}
.fa-react {
  font-size: 3em;
  color: rgb(0, 159, 207);
}
.fa-node-js {
  font-size: 3em;
  color: rgba(24, 172, 24, 0.739);
}
.contact_icons {
  color: white;
}
.contact_icons:hover {
  color: rgb(0, 140, 255);
  transition: .3s ease;
}
.footer {
  text-align: center;
  color: black;
  font-size: .8em;
  padding: 15px;
  background-color: rgb(240, 240, 240);
}
.fa-html5-banner {
  color: white;
}

/* PROJECTS SECTION */
.about_projects {
  width: 100%;
  background-color: rgba(243, 243, 243, 0.836);
}
.project_section {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  width: 95%;
}
.project_secion_title {
  text-align: center;
  margin-top: 50px;
}
.project_secion_title > h2 {
  font-size: 3em;
  font-weight: 600;
  padding-bottom: 20px;
}
.projects_section_cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 50px;
}
.card_container {
  min-width: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card_container_img {
  width: 100%;
}
.card_container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.418);
}
.desc_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 12px 16px;
  margin-bottom: 15px;
}
.desc_container > h3 {
  font-size: 1.5em;
}
.desc_container a span {
  display: none;
}
.desc_description {
  margin-bottom: 5px;
}
.code_used {
  margin-bottom: 25px;
}
.fa-bars {
  font-size: 1.2em;
}

/* END PROJECTS SECTION */

/* SIDENAV */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(208, 208, 208);
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.main {
  transition: margin-right .5s;
}
.main_nav {
  display: flex;
  justify-content: flex-end;
  background: black;

}
.main_nav_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;

}
.main_nav_hamburger {
  color: white;
}
.main_nav_hamburger > span {
  color: white;
}
.open-text {
  display: none;
}
.fullpage_nav {
  display: none;
}
.fullpage_nav_item {
  font-size: 1.5rem;
}
.nav_padding {
  padding: 14px 16px;
}

@media only screen and (min-width: 768px) {
  .main_nav_container {
    max-width: 1400px;
  }
  .main_nav_hamburger {
    opacity: 0;
  }
  .fullpage_nav {
    display: flex;
    font-size: 1.2em;
  }
  .fullpage_nav a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
  }
  .banner_img {
    height: 100vh;
    align-items: flex-start;
  }
  .banner_img > h1 {
    margin-left: 50px;
  }
  header h1 {
    font-size: 3.8em;
  }
  header h2 {
    font-size: 2.2em;
  }
  .content_container.about_me {
    max-width: 1400px;
  }
  .content_container p {
    font-size: 1.3em;
  }
  .fa-code {
    font-size: 1.5em;
  }
  span.menu {
    display: none;
  }
  a.js_menu{
    display: none;
  }
  a.js_main_menu {
    display: flex;
    justify-content: row;   
  }
  .banner_title {
    align-items: flex-start;
    width: calc(100% - 100px);
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
  .intro, .role-title {
    font-size: 2em;
  }
  .myname {
    font-size: 6.7em;
  }
  .project_section {
    min-width: 768px;
  }
  .projects_section_cards {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card_container {
    max-width: 31.1%;
    margin: 25px 10px 50px 10px;
  }
  .fa-2x {
    font-size: 1.8em;
  }
}